<div *ngIf="clocation">
  <p align="center"><img src="images/contactbanner.gif" width="600" height="60" border="0" alt="Contact Us">
  </p>

  <br>
  <br>
  <br>
  <br>

  <p align="center"><font face="Lucida Sans Unicode" size="4">David and Sharon Clements</font></p>

  <p align="center">
    <font face="Lucida Sans Unicode" size="4">
      Mount Brydges, ON
      <br>
      <br>
      Phone:&nbsp; (519) 868-3294
    </font>
  </p>

  <p align="center">
    <font face="Lucida Sans Unicode" size="4">
      Email:&nbsp; <a href="mailto:ddclements@hotmail.com">ddclements@hotmail.com</a>
    </font>
  </p>

  <br>
  <br>
  <br>
  <br>
  
  <p align="center">
    <a routerLink="/">
      <img src="images/home.gif" width="140" height="50" border="0" alt="Home" onmouseover="this.src='images/home_h.gif';" onmouseout="this.src='images/home.gif';">
    </a>
    <a routerLink="/">
      <img src="images/information.gif" width="140" height="50" border="0" alt="Information" onmouseover="this.src='images/information_h.gif';" onmouseout="this.src='images/information.gif';">
    </a>
    <a routerLink="/">
      <img src="images/cottagepics.gif" width="140" height="50" border="0" alt="Interior Photos" onmouseover="this.src='images/cottagepics_h.gif';" onmouseout="this.src='images/cottagepics.gif';">
    </a>
    <a routerLink="/">
      <img src="images/exteriorpics.gif" width="140" height="50" border="0" alt="Exterior Photos" onmouseover="this.src='images/exteriorpics_h.gif';" onmouseout="this.src='images/exteriorpics.gif';">
    </a>
    <a routerLink="/">
      <img src="images/rates.gif" width="140" height="50" border="0" alt="Rates" onmouseover="this.src='images/rates_h.gif';" onmouseout="this.src='images/rates.gif';">
    </a>
    <img src="images/contact_p.gif" width="140" height="50" border="0" alt="Contact Us">
  </p>
</div>