<div *ngIf="clocation">
  <p align="center"><img src="images/infobanner.gif" width="600" height="60" border="0" alt="Contact Us">
  </p>

  <p align="center">
    <b>
      <font color="#663300" face="Copperplate Gothic Bold" size="6">
        {{clocation.location2}}<br>
        {{clocation.description}}
      </font>
    </b>
  </p>

  <blockquote>
    <blockquote>
      <div *ngFor="let infoitem of clocation.info_items">
        <div *ngIf="infoitem.isheader" class="listheader">
          <br>
          {{infoitem.itemtext}}
          <br>
          <br>
        </div>
        <div *ngIf="infoitem.isitem" class="listitem">
          <img border="0" src="images/flare.gif" width="15" height="15" hspace="13" alt="bullet">
          {{infoitem.itemtext}}
        </div>
      </div>
    </blockquote>
  </blockquote>
  
  




  <p align="center">
    <a routerLink="/">
      <img src="images/home.gif" width="140" height="50" border="0" alt="Home" onmouseover="this.src='images/home_h.gif';" onmouseout="this.src='images/home.gif';">
    </a>
    <a routerLink="/{{clocation.id}}/info">
      <img src="images/information_p.gif" width="140" height="50" border="0" alt="Information">
    </a>
    <a routerLink="/">
      <img src="images/cottagepics.gif" width="140" height="50" border="0" alt="Interior Photos" onmouseover="this.src='images/cottagepics_h.gif';" onmouseout="this.src='images/cottagepics.gif';">
    </a>
    <a routerLink="/">
      <img src="images/exteriorpics.gif" width="140" height="50" border="0" alt="Exterior Photos" onmouseover="this.src='images/exteriorpics_h.gif';" onmouseout="this.src='images/exteriorpics.gif';">
    </a>
    <a routerLink="/{{clocation.id}}/rates">
      <img src="images/rates.gif" width="140" height="50" border="0" alt="Rates" onmouseover="this.src='images/rates_h.gif';" onmouseout="this.src='images/rates.gif';">
    </a>
    <a routerLink="/{{clocation.id}}/contact">
      <img src="images/contact.gif" width="140" height="50" border="0" alt="Contact Us" onmouseover="this.src='images/contact_h.gif';" onmouseout="this.src='images/contact.gif';">
    </a>
  </p>
</div>