<p align="center"><img src="images/wcrbanner.gif" width="600" height="60" border="0" alt="Waterfront Cottage Rentals">
</p>

<p align="center">
  <b>
    <img border="0" src="images/flare.gif" width="15" height="15">
    <font face="Lucida Sans Unicode" color="#800000" size="4">    
      CREATING COTTAGE MEMORIES SINCE 2002
    </font>
    <img border="0" src="images/flare.gif" width="15" height="15">
  </b>
</p>
<p align="center">
  <b>
    <font color="#663300" face="Copperplate Gothic Bold" size="6">
      Horseshoe Lake &amp; Harris Lake<br>
      Parry Sound, Ontario
    </font>
  </b>
</p>

<p align="center">
  <b>
    <font color="#663300" face="Copperplate Gothic Bold" size="6">
      Lake Huron<br>
      Grand Bend, Ontario
    </font>
  </b>
</p>

<p align="center">
  <img border="4" src="images/sunset_boat.jpg" width="427" height="175">
</p>

<p align="center">
  <font size="4" face="Lucida Sans Unicode" color="#663300">
    Please click on one of our three<br>
    locations below for cottage information:
  </font>
</p>

<table align="center" border=0>
  <tr>
    <td>
      <a routerLink="/sr" routerLinkActive="active">
        <img src="images/nav_sr.gif" width="140" height="50" border="0" alt="Harris Lake" align="middle" onmouseover="this.src='images/nav_sr_h.gif';" onmouseout="this.src='images/nav_sr.gif';">
      </a>
    </td>
    <td>
      <a routerLink="/wp" routerLinkActive="active">
        <img src="images/nav_wp.gif" width="140" height="50" border="0" alt="Harris Lake" align="middle" onmouseover="this.src='images/nav_wp_h.gif';" onmouseout="this.src='images/nav_wp.gif';">
      </a>
    </td>
    <td>
      <a routerLink="/bop" routerLinkActive="active">
        <img src="images/nav_bop.gif" width="140" height="50" border="0" alt="Harris Lake" align="middle" onmouseover="this.src='images/nav_bop_h.gif';" onmouseout="this.src='images/nav_bop.gif';">
      </a>
    </td>
  </tr>
  <tr>
    <td align=center>
      <b><font size="2">
      Shamrock Ridge<br>
      Cottage
      </font></b>
    </td>
    <td align=center>
      <b><font size="2">
      Whispering Pines<br>
      Cottage
      </font></b>
    </td>
    <td align=center>
      <b><font size="2">
      Beach O' Pines<br>
      Cottage
      </font></b>
    </td>
  </tr>
</table>