<div *ngIf="clocation">
  <p align="center"><img src="images/{{clocation.banner_img}}" width="600" height="60" border="0" alt="{{clocation.banner_alt}}">
  </p>
  <p align="center">
    <b>
      <font color="#663300" face="Copperplate Gothic Bold" size="6">
        {{clocation.description}}<br>
        {{clocation.location}}
      </font>
    </b>
  </p>

  <p align="center">
    <img border="4" src="images/{{clocation.image}}" width="280" height="210">
  </p>

  <blockquote>
    <blockquote>
      <blockquote>
        <p align="left">
          <font color="#000000" face="Lucida Sans Unicode" size="4">
            <i>
              {{clocation.text1}}
            </i>
          </font>
        </p>
        <p align="left">
          <font color="#000000" face="Lucida Sans Unicode" size="4">
            <i>
              {{clocation.text2}}
            </i>
          </font>
        </p>
      </blockquote>
    </blockquote>
  </blockquote>
  
  <p align="center">
    <a routerLink="/">
      <img src="images/home.gif" width="140" height="50" border="0" alt="Home" onmouseover="this.src='images/home_h.gif';" onmouseout="this.src='images/home.gif';">
    </a>
    <a routerLink="/">
      <img src="images/information.gif" width="140" height="50" border="0" alt="Information" onmouseover="this.src='images/information_h.gif';" onmouseout="this.src='images/information.gif';">
    </a>
    <a routerLink="/">
      <img src="images/cottagepics.gif" width="140" height="50" border="0" alt="Interior Photos" onmouseover="this.src='images/cottagepics_h.gif';" onmouseout="this.src='images/cottagepics.gif';">
    </a>
    <a routerLink="/">
      <img src="images/exteriorpics.gif" width="140" height="50" border="0" alt="Exterior Photos" onmouseover="this.src='images/exteriorpics_h.gif';" onmouseout="this.src='images/exteriorpics.gif';">
    </a>
    <a routerLink="/">
      <img src="images/rates.gif" width="140" height="50" border="0" alt="Rates" onmouseover="this.src='images/rates_h.gif';" onmouseout="this.src='images/rates.gif';">
    </a>
    <a routerLink="/">
      <img src="images/contact.gif" width="140" height="50" border="0" alt="Contact Us" onmouseover="this.src='images/contact_h.gif';" onmouseout="this.src='images/contact.gif';">
    </a>
  </p>
</div>